.section-rodape {
    background-color: #051120;
    color: #fff;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.box-network {
    display: flex;
    gap: 1rem;
    justify-content: center;

    margin: 1rem 0;
}

.link-network {
    width: 2rem;
}

.image-network {
    width: 100%;

    transition: .5s;
}

.image-network:hover {
    opacity: .6;
}

.data-rodape {
    opacity: .4;
    margin-top: 15px;
}