.section-rodape {
    background-color: #051120;
    color: #fff;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.box-network {
    width: 2rem;

    display: flex;
    gap: 1rem;
    justify-content: center;

    margin: 1rem 0;
}

.box-network img {
    width: 100%;
}