.section-cards {
    text-align: center;
    padding: 2rem;
    background-color: #0a04041c;
}

.section-cards .title-category {
    display: inline-block;
    border-bottom: 2px solid red;
    font-size: 1.4rem;
    padding-bottom: 0.3rem;
}